<div class="footer">
    <div class="pull-right">
        SFT <strong>AUTONOMA</strong> 2020.
    </div>
    <div>
        <strong>Copyright</strong> AUTONOMA &copy; 2020-202
    </div>
</div>
